<% content_for :submenu do %>
	<li><a href="#">Project Tracking</a></li>
	<li><a href="#">Application Monitoring</a></li>
	<li><a href="#">(I used content_for :submenu blocks in the view files for the dynamic submenu's)</a></li>
<% end %>
<div class="contentpanel">
    <h1>Customer Tools</h1>

    <h2>Project Tracking</h2>
    <p>
      The project tracking tool provides a single point of reference for all aspects
      of our ongoing projects. This includes version and milestone management, issue
      and feature tracking, collaborative documentation, project collateral, source-code
      access and a complete activity history.
    </p>

    <h2>Application Monitoring</h2>
    <p>
      Monitor the uptime and availability of your application, along with its general
      responsiveness.
    </p>
</div>
