- content_for :title do
  Three Wise Men Inc. Crazy Antics '06 - HOW-NOT-TO Cook an Egg with your Cell Phone
- content_for :description do
  We were inspired by a Slashdot article to debunk this myth.
- content_for :keywords do
  cook an egg with your cellphone, mythbusting
%h1 HOW-NOT-TO, Cook an Egg With Your Cell Phone
%p OK, so I read this article on Slashdot:
%p
  %a{:href => "http://slashdot.org/articles/06/02/06/156236.shtml", :rel => "external"} http://slashdot.org/articles/06/02/06/156236.shtml
%a{:href => "/images/egg/001.JPG", :rel => "external"}
  %img.float{:alt => "Step 1", :height => "121", :src => "/images/egg/001s.JPG", :width => "160"}/
%br/
%p
  It sounded odd, I mean, I use my cell phone a fair bit. Granted, my head isn't an egg (no matter how much kids teased me when I was young), but maybe they have something here.
%p
  So, with a skeptical but open mind, I grabbed the guys and we hit the grocery store for some eggs. Turns out as with any trip to the grocery store, we were inevitably hungry, and needed peanuts too.
%p
  We read the instructions in the article and remained skeptical. We prepared a paper cup to hold the egg close to the phones' antennas, and lodged the egg on top.
%p
  %a{:href => "/images/egg/002.JPG", :rel => "external"}
    %img.float{:alt => "Step 2", :height => "121", :src => "/images/egg/002s.JPG", :width => "160"}/
  Initially, we tried 2 phones, left it for a few minutes. The egg wasn't getting any warmer, so I used my 3-way feature to conference in a third phone. We were perplexed that it wasn't getting warmer so we began scavenging the office for more sources of radiation - first was a 15" CRT monitor. I was always told computers would fry my brain, this monitor had years to try - but hey, my head isn't an egg.
%p
  Then we added a 21" CRT monitor. Then my laptop with a 2.4GHz wireless mouse and WIFI active. Then Adam's laptop with a 2.4GHz wireless mouse and his WIFI active. We left the whole thing radiating into that poor little egg. We felt a little sorry for it.
%p
  We felt sorry for a whole 10 minutes while we imagined it getting pounded with invisible radio waves.
%p
  %a{:href => "/images/egg/003.JPG", :rel => "external"}
    %img.float{:alt => "Step 3", :height => "121", :src => "/images/egg/003s.JPG", :width => "160"}/
  When we took the egg out, we were shocked to feel it was still cold. But, hey, the article didn't say it would be hot, just that it would be cooked.
%p
  So, we felt sorry for the egg one last time while Adam cracked its shell.
%p
  We were shocked to find that the egg was completely uncooked.
%p
  Now, I'm going to blame this massive failure on the peanuts. Maybe it's the gleam in the peanut jar's eye, but I think he rigged it.
%p
  Given this wasn't a completely controlled experiment, I'm willing to bet we can come up with a real test - all we need are donations. $5-10M should do, we could set up a clean-room, study the problem in detail and do this right. Come on, I know you want to know...
%a{:href => "/images/egg/004.JPG", :rel => "external"}
  %img{:alt => "Step 4", :height => "121", :src => "/images/egg/004s.JPG", :width => "160"}/
%a{:href => "/images/egg/005.JPG", :rel => "external"}
  %img{:alt => "Step 5", :height => "121", :src => "/images/egg/005s.JPG", :width => "160"}/
%a{:href => "/images/egg/006.JPG", :rel => "external"}
  %img{:alt => "Step 6", :height => "121", :src => "/images/egg/006s.JPG", :width => "160"}/
%a{:href => "/images/egg/007.JPG", :rel => "external"}
  %img{:alt => "Step 7", :height => "121", :src => "/images/egg/007s.JPG", :width => "160"}/
%a{:href => "/images/egg/008.JPG", :rel => "external"}
  %img{:alt => "Step 8", :height => "121", :src => "/images/egg/008s.JPG", :width => "160"}/
%p.copyright
  Crazy antics and hosting by
  %a{:href => "http://threewisemen.ca"} Three Wise Men Inc.
