/*
    Blue:       152E48
    Lt Green:   B2DED1
    Green:      006F44
    Brown:      903618
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 0px;
    background: #555; /* url(/images/background-gradient.png) repeat-x scroll top; */
    color: #444;
}

h1 {
	font-family: Georgia, "Times Roman", serif;
    position: relative;
    font-size: 14pt;
    color: #2a5e8b;
}

h2 {
	font-family: Georgia, "Times Roman", serif;
    font-size: 12pt;
    color: #2a5e8b;
}

h3 {
	font-family: Georgia, "Times Roman", serif;
    font-size: 10pt;
    color: #2a5e8b;
}

p {
}

blockquote {
	top: -18px;
}

a:link,a:visited {
    color: #903618;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a.linkmarker {
    background: transparent url(/images/link-marker.png) no-repeat top left;
    padding: 0px 0px 5px 22px;
}

a img {
    border: 0;
}

img.float {
    float: right;
    margin: 16px;
}

#shell {
    margin: 3px auto;
    width: 960px;
    padding: 3px;
    background-color: #fff;
}

#copyright {
    text-align: center;
    margin: 12px auto;
    width: 960px;
    color: #333;
}

#copyright a:link,a:visited {
    color: #111;
}

#shell .banner {
    position: relative;
    background: #006f44 url(/images/banner-background.png) no-repeat scroll top left;
    height: 180px;
    width: 100%;
}

#shell .banner .banner_right {
    position: absolute;
    width: 160px;
    height: 60px;
    top: 0px;
    left: 700px;
    padding-left: 100px;
    background: #fff url(/images/banner-right.png);
}

#tech_logos {
    display: none;
    width: 140px;
    height: 44px;
    margin: 8px auto 0px auto;
}

#tech_logos img {
    margin: auto;
}

#shell .banner .contact_info {
    text-align: center;
    font-size: 9pt;
    color: #152E48;
    width: 100px;
    position: relative;
    top: 100px;
    left: 250px;
}

#shell .banner .left_quote {
    width: 32px;
    height: 26px;
    background-image: url(/images/left-quote-web.png);
    position: relative;
    top: 34px;
    left: 380px;
}

#shell .banner .right_quote {
    width: 32px;
    height: 26px;
    background-image: url(/images/right-quote-web.png);
    position: relative;
    top: 8px;
    left: 900px;
}

#shell .banner .quote {
    font-family: Georgia, "Times New Roman", "Times Roman", serif;
    font-size: 9pt;
    width: 450px;
    position: relative;
    top: -18px;
    left: 432px;
}

#shell .banner .quote .blockquote {
    margin: 0px;
    font-style: italic;
    color: black;
}

#shell .banner .quote .credit {
    text-align: right;
    color: black;
}

#shell .banner .logins {
	top: 67px;
	left: 250px;
	width: 698px;
	position: absolute;
}

#shell .banner .logins ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#shell .banner .logins ul li {
	display: inline;
}

#shell .banner .logins ul li a {
	display: block;
	float: right;
	font-size: 11px;
	color: #87b4d5;
}

ul#mainmenu {
    clear: both;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0 22px 0 22px;
    height: 56px;
    text-decoration: none;
    background-image: url(/images/nav/menu-background.png);
}

ul#mainmenu li {
	display: inline;
}

ul#mainmenu li a {
	display: block;
	height: 37px;
    padding: 19px 25px 0 25px;
	float: left;
	font-size: 14px;
	background: url(/images/nav/menudivider.png) no-repeat 0px 3px;
	color: #5B920A;
}

ul#mainmenu li.active a, ul#mainmenu li:first-child.active a {
	padding-top: 18px;
	background: transparent url(/images/nav/menu-active.png) no-repeat center top;
	color:#fff;
}

ul#mainmenu li:first-child a {
	background: none;
}

ul#mainmenu a:link, ul#mainmenu a:visited, ul#mainmenu a:active {
	text-decoration:none;
	color: #bbb;
}

ul#mainmenu li a:hover {
    height: 37px;
    padding-top: 19px;
	background: transparent url(/images/nav/menu-hover.png) no-repeat center top;
	color:#fff;
}

ul#submenu {
    clear:both;
    list-style-type: none;
    margin: 0;
    padding: 0 22px 0 44px;
    height: 36px;
    background-image: url(/images/nav/submenu-background.png);
}

ul#submenu li {
    float: left;
    margin: 10px;
    font-size: 10pt;
}

ul#submenu li a {
    text-decoration: none;
}

ul#submenu li a:link,ul#submenu li a:visited {
    color: #B2DED1;
}

ul#submenu li a:hover {
    color: #fff;
}

#shell #home_body {
    position: relative;
    min-height: 12px;
    clear: both;
}

#home_body .submenu_shadow {
    position: absolute;
    top: 0px;
    z-index: 100;
    background: transparent url(/images/nav/submenu-shadow.png) repeat-x scroll;
    width: 960px;
    height: 12px;
}

#home_body .mainpanel {
    float: left;
    width: 280px;
    height: 240px;
    padding: 16px 40px 0px 40px;
    background-color: #e0e0e0;
}

#home_body .contentpanel {
    min-height: 254px;
    padding: 16px 40px 16px 40px;
}

#home_body .contentpaneldark {
    min-height: 254px;
    padding: 16px 40px 16px 40px;
    background-color: #F8F8F8;
}

.contentpaneldark h1 img {
    width: 48px;
    height: 48px;
    margin: 0px 12px -14px 0px;
}

.contentpaneldark p.inset {
    padding: 0px 80px 0px 80px;
}

.contentpaneldark ul.inset {
    padding: 0px 80px 0px 112px;
}

#home_body .service1 {
    position: relative;
    float: left;
    width: 152px;
    height: 240px;
    padding: 16px 24px 0px 24px;
    background-color: #e8e8e8;
    text-align: center;
}

#home_body .service1 img {
    margin: 24px 0 0 0;
}

#home_body .service1 h2 {
    margin: 12px 0 0 0;
    text-align: left;
}

#home_body .service1 p {
    margin: 12px 0 0 0;
    font-size: 9.5pt;
    text-align: left;
}

#home_body .service1 p.more {
    position: absolute;
    top: 240px;
    left: 24px;
}

#home_body .service2 {
    position: relative;
    float: left;
    width: 152px;
    height: 240px;
    padding: 16px 24px 0px 24px;
    background-color: #f0f0f0;
    text-align: center;
}

#home_body .service2 img {
    margin: 24px 0 0 0;
}

#home_body .service2 h2 {
    margin: 12px 0 0 0;
    text-align: left;
}

#home_body .service2 p {
    margin: 12px 0 0 0;
    font-size: 9.5pt;
    text-align: left;
}

#home_body .service2 p.more {
    position: absolute;
    top: 240px;
    left: 24px;
}

#home_body .service3 {
    position: relative;
    float: left;
    width: 152px;
    height: 240px;
    padding: 16px 24px 0px 24px;
    background-color: #f8f8f8;
    text-align: center;
}

#home_body .service3 img {
    margin: 24px 0 0 0;
}

#home_body .service3 h2 {
    margin: 12px 0 0 0;
    text-align: left;
}

#home_body .service3 p {
    margin: 12px 0 0 0;
    font-size: 9.5pt;
    text-align: left;
}

#home_body .service3 p.more {
    position: absolute;
    top: 240px;
    left: 24px;
}

#home_body .bottom {
    clear: both;
    width: 960px;
    height: 30px;
    background-image: url(/images/home-bodybottom.png);
}

#phone_dialog {
    background-color: #000;
    font-size: 24pt;
    color: #fff;
    display: none;
}

/* Application development */

div.tech {
    background-color: #fff;
    font-size: 12px;
}

div.tech img {
    float: right;
    margin: 12px;
}

/* Consulting */

#consultingrealms .realm {
    background-color: #fff;
    padding: 8px;
    font-size: 12px;
}

/* Application Hosting */

#hostingplans {
}

#hostingplans .plan {
    background-color: #fff;
    padding: 8px;
    font-size: 12px;
}

/* Success Stories */

div#list {
    margin: auto;
}

div.success {
    width: 500px;
    height: 250px;
    margin: 16px auto;
    padding: 12px 64px 24px 64px;
    background-color: #F8F8F8;
}

div.success img {
    float: right;
    margin: 12px;
    border: 1px solid #ccc;
}

div#nav {
    margin: 16px 0px 0px 0px;
    text-align: center;
}

div#nav a {
    display: inline;
    padding: 10px;
    color: #000;
    background: transparent url(/images/circlenav.png) no-repeat scroll center center;
    text-decoration: none;
    margin: 0 5px;
}

div#nav a.activeSlide {
    color: #fff;
    background: transparent url(/images/circlenav_selected.png) no-repeat scroll center center;
}

div#nav a:focus {
    outline: none;
}

/* Contact Us */

#address {
    margin: 24px;
}

#address p {
    margin: 0;
}

#phones {
    margin: 24px;
}

#phones p {
    margin: 0;
}

#phones p span {
    display: block;
    width: 100px;
    float: left;
}

#map {
    float: right;
    width: 390px;
    height: 254px;
    white-space: nowrap;
}
