/*
    Blue:       152E48
    Lt Green:   B2DED1
    Green:      006F44
    Brown:      903618
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 0px;
    background: #444 url(/images/background-gradient.png) repeat-x scroll top;
    color: #444;
}

h1 {
    font-size: 14pt;
    color: #2a5e8b;
}

h2 {
    font-size: 12pt;
    color: #2a5e8b;
}

p {
}

blockquote {
}

a:link,a:visited {
    color: #903618;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a.linkmarker {
    background: transparent url(/images/link-marker.png) no-repeat left;
    padding: 0px 0px 2px 22px;
}

#shell {
    margin: 12px auto;
    width: 960px;
    padding: 12px;
    background-color: #fff;
}

#copyright {
    text-align: center;
    margin: 12px auto;
    width: 960px;
    color: #282828;
}

#shell .banner {
    position: relative;
    background: #006f44 url(/images/banner-background.png) no-repeat scroll top left;
    height: 180px;
    width: 100%;
}

#shell .banner .banner_right {
    position: absolute;
    width: 160px;
    height: 60px;
    top: 0px;
    left: 700px;
    padding-left: 100px;
    background: #fff url(/images/banner-right.png);
}

#tech_logos {
    width: 140px;
    height: 44px;
    margin: 8px auto 0px auto;
}

#tech_logos img {
    margin: auto;
}

#shell .banner .contact_info {
    text-align: center;
    font-size: 9pt;
    color: #152E48;
    width: 100px;
    position: relative;
    top: 100px;
    left: 250px;
}

#shell .banner .left_quote {
    width: 32px;
    height: 26px;
    background-image: url(/images/left-quote-web.png);
    position: relative;
    top: 34px;
    left: 380px;
}

#shell .banner .right_quote {
    width: 32px;
    height: 26px;
    background-image: url(/images/right-quote-web.png);
    position: relative;
    top: 8px;
    left: 900px;
}

#shell .banner .quote {
    font-family: Georgia, "Times New Roman", "Times Roman", serif;
    font-size: 9pt;
    width: 450px;
    position: relative;
    top: -18px;
    left: 432px;
}

#shell .banner .quote blockquote {
    margin: 0px;
    font-style: italic;
    color: black;
}

#shell .banner .quote .credit {
    text-align: right;
    color: black;
}



#main {background:url(/images/nav/pagebg.png) repeat-y; padding:2px 9px 0 9px; margin:0;}
#menus {background:url(/images/nav/menu.jpg) no-repeat; width:936px; margin:0 auto 10px auto; height:88px;}


#mainmenu {
  clear: both;
  position: relative;
  list-style-type: none;
  margin: 0px;
  height: 56px;
	text-decoration: none;
	padding-right: 22px;
	padding-left: 22px;
	background-image: url(/images/nav/menu-background.png);
}

#mainmenu a {
	display: block;
	height: 37px;
	padding-right: 25px;
	padding-left: 25px;
	float: left;
	font-size: 14px;
	text-decoration: none;
	padding-top: 19px;
	background: url(/images/nav/menudevider.png) no-repeat 0px 3px;
	color: #5B920A;
}

#mainmenu .first a {
	background: none;
}

#mainmenu li {
	display: inline;
}

#mainmenu a:visited, #mainmenu a:active {
	text-decoration:none; 
	color: #bbb;
}

#mainmenu .active a {
	padding-top: 18px;
	 height: 37px;
	background: transparent url(/images/nav/menu-active.png) no-repeat center top;
	color:#fff;
}

#mainmenu a:hover {
	top: -2px;
  height: 37px;
  padding-top: 19px;
	background:url(/images/nav/menu-hover.png) no-repeat center top;
	color:#fff;
}



ul#submenu {
    clear:both;
    list-style-type: none;
    margin: 0px;
    height: 36px;
    background-image: url(/images/nav/submenu-background.png);
}

ul#submenu li {
    float: left;
    margin: 10px;
    font-size: 10pt;
}

ul#submenu li a {
    text-decoration: none;
}

ul#submenu li a:link,ul#submenu li a:visited {
    color: #B2DED1;
}

ul#submenu li a:hover {
    color: #fff;
}

#shell #home_body {
    min-height: 12px;
    clear: both;
}

#home_body .submenu_shadow {
    position: absolute;
    z-index: 100;
    background: transparent url(/images/nav/submenu-shadow.png) repeat-x scroll;
    width: 960px;
    height: 12px;
}

#home_body .mainpanel {
    float: left;
    width: 280px;
    height: 340px;
    padding: 16px 40px 0px 40px;
    background-color: #e0e0e0;
}

#home_body .contentpanel {
    min-height: 250px;
    padding: 16px 40px 16px 40px;
}

#home_body .service1 {
    position: relative;
    float: left;
    width: 152px;
    height: 340px;
    padding: 16px 24px 0px 24px;
    background-color: #e8e8e8;
    text-align: center;
}

#home_body .service1 img {
    position: absolute;
    top: 68px;
    left: 68px;
}

#home_body .service1 h2 {
    position: absolute;
    top: 140px;
    text-align: left;
}

#home_body .service1 p {
    position: absolute;
    top: 190px;
    text-align: left;
}

#home_body .service1 p.more {
    position: relative;
    top: 300px;
}

#home_body .service2 {
    position: relative;
    float: left;
    width: 152px;
    height: 340px;
    padding: 16px 24px 0px 24px;
    background-color: #f0f0f0;
    text-align: center;
}

#home_body .service2 img {
    position: absolute;
    top: 68px;
    left: 68px;
}

#home_body .service2 h2 {
    position: absolute;
    top: 140px;
    text-align: left;
}

#home_body .service2 p {
    position: absolute;
    top: 170px;
    text-align: left;
}

#home_body .service2 p.more {
    position: relative;
    top: 300px;
}

#home_body .service3 {
    position: relative;
    float: left;
    width: 152px;
    height: 340px;
    padding: 16px 24px 0px 24px;
    background-color: #f8f8f8;
    text-align: center;
}

#home_body .service3 img {
    position: absolute;
    top: 68px;
    left: 68px;
}

#home_body .service3 h2 {
    position: absolute;
    top: 140px;
    text-align: left;
}

#home_body .service3 p {
    position: absolute;
    top: 170px;
    text-align: left;
}

#home_body .service3 p.more {
    position: absolute;
    top: 320px;
}

#home_body .bottom {
    clear: both;
    width: 960px;
    height: 30px;
    background-image: url(/images/home-bodybottom.png);
}