- content_for :title do
  Three Wise Men Inc. Articles from our CEO, Steven Vetzal
- content_for :description do
  Steven Vetzal has been programming computers for nearly 30 years, and has loved every minute of it. As an entrepreneur and technology enthusiast, Steven blogs about what is going on in the I.T. world around us.
- content_for :keywords do
  Three Wise Men Inc., Steven Vetzal, CEO, Technology, Business, Computer Programming, Team Dynamics, oshawa whitby durham toronto ontario canada
%h1= @title
%p= @content
