<div class="contentpaneldark">
    <h1>Consulting</h1>
    <p>
      The key to our consulting success is our people. We don't get lost in lofty pie-in-the-sky,
      rediculous architecture diagrams, reams of UML, big slushy processes.
    </p>
    <p>
      We focus on the simplest, pragmatic solution to each problem at hand.
    </p>
    <p>
      Our people are <em>involved</em>. In your project, in the global open-source communities in which they
      specialize, in life. You can't find new and innovative solutions to anything living in a bubble.
    </p>
    <p>
      Some things we can help you with:
    </p>
    <ul>
      <li>Performance analysis and tuning to keep your systems online and performant</li>
      <li>Solution design to integrate disparate systems</li>
      <li>Technology and tools selection for better team communications</li>
      <li>Development processes for more cost effective and timely feature delivery</li>
      <li>Automated software testing and code analysis to increase software quality</li>
    </ul>
</div>
