<% content_for :title do %>Three Wise Men Inc. Serving the GTA Since 2002<% end %>
<% content_for :description do %>We are located on the West edge of Oshawa at the Whitby border just south of the 401.<% end %>
<% content_for :keywords do %>canada, toronto, durham region, oshawa, whitby<% end %>

<div id="map"></div>

<h1>Contact Us</h1>

<div id="address">
  <p>Three Wise Men Inc.</p>
  <p>1077 Boundary Rd., Unit 211</p>
  <p>Oshawa, ON, Canada</p>
  <p>L1J 8P8</p>
</div>

<div id="phones">
  <p><span>Toronto (Voice):</span>+1 416 848 0709</p>
  <p><span>Oshawa (Voice):</span>+1 905 440 2029</p>
	<p><span>Oshawa (Fax):</span>+1 905 233 4846</p>
</div>

<div style="clear: both"></div>

<script src="http://maps.google.com/maps?file=api&amp;v=1&amp;key=ABQIAAAAHtGr9KdH_iaAjJ8MMK3ETxRC5tJD5lWLxeAc3yWhXC76UL6qUxQ-wvMdIMIzlyA_OIgwrZVcnuI3ZA" type="text/javascript"></script>
<script type="text/javascript">
  var map = new GMap(document.getElementById("map"));
  var point = new GPoint(-78.88534082641602, 43.861570744481884);
  var marker = new GMarker(point);
  map.addControl(new GSmallMapControl());
  map.centerAndZoom(point, 4);
  map.addOverlay(marker);
  marker.openInfoWindowHtml("<div id='mapaddress'><strong>Three Wise Men Inc.</strong><br />Unit 211, 1077 Boundary Rd.,<br />Oshawa, ON  L1J 8P8</div>");
</script>
