- content_for :title do
  Three Wise Men Inc. Serving the GTA Since 2002
- content_for :description do
  We are located on the West edge of Oshawa at the Whitby border just south of the 401.
- content_for :keywords do
  canada, toronto, durham region, oshawa, whitby
#map
%h1 Contact Us
#address
  %p Three Wise Men Inc.
  %p 1077 Boundary Rd., Unit 207
  %p Oshawa, ON, Canada
  %p L1J 8P8
#phones
  %p
    %span> Toronto (Voice):
    +1 416 848 0709
  %p
    %span> Oshawa (Voice):
    +1 905 440 2029
  %p
    %span> Oshawa (Fax):
    +1 905 233 4846
%div{:style => "clear: both"}
%script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
:javascript
  $(document).ready(function() {
    var latlng = new google.maps.LatLng(43.86157074448188, -78.88534082641602);
    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title:"Three Wise Men Inc."
    });
    var infowindow = new google.maps.InfoWindow({
      content: "<div id='mapaddress'><strong>Three Wise Men Inc.</strong><br />Unit 207, 1077 Boundary Rd.,<br />Oshawa, ON  L1J 8P8</div>"
    });
    infowindow.open(map,marker);
  });
