<div class="contentpanel">
    <h1>Read this screen full of jargon, or CALL US TODAY FOR A NO-OBLIGATION CONSULTATION!</h1>

    <div class="tech">
      <img src="/images/tech_logos/java-64x128.png" />
      <h2>Java Standard and Enterprise</h2>
      <ul>
        <li>Tremendous reach to Windows, Mac and Linux desktops with easy deployment.</li>
        <li>Efficient for assembly of line-of-business form and data driven applications.</li>
        <li>Powerful and compatible server-side processing abilities.</li>
      </ul>
    </div>

    <div class="tech">
      <img src="/images/tech_logos/rails-100x128.png" />
      <h2>Ruby On Rails</h2>
      <ul>
        <li>The most powerful and agile development framework gets your web initiatives online faster.</li>
      </ul>
    </div>

    <div class="tech">
      <img src="/images/tech_logos/dotnet-117x111.png" />
      <h2>Microsoft .NET</h2>
      <ul>
        <li>Leverage powerful desktop 3D and media capabilities on Windows desktops.</li>
        <li>Efficient for assemby of line-of-business form and data driven applications.</li>
      </ul>
    </div>

    <div class="tech">
      <img src="/images/tech_logos/postgresql-95x51.png" />
      <h2>PostgreSQL</h2>
      <ul>
        <li>The most powerful open-source database engine.</li>
        <li>Get your applications online with advanced functionality while reducing infrastructure costs.</li>
      </ul>
    </div>

    <div style="clear: both"></div>
    <script type="text/javascript">
      $(".tech").corner('24px');
    </script>

</div>
