<div class="contentpaneldark">
    <h1>Application Development Services</h1>

    <p>
      Outsource those nagging projects to a
      <%= link_to "local, cost-effective team", { :action => "blogentry", :id => 101 } %>
      that can get them off your plate and off your
      mind, letting you focus on those things that only you can do.
      Not only can we help in getting some of that work done, we can
      <%= link_to "show you a better way to work", { :action => "blogentry", :id => 116 } %>
      with external development teams.
      <strong>Why wait to get the ball rolling? Call us today.</strong>
    </p>

    <div id="technologies">
      <ul>
        <li><a href="#java">Java</a></li>
        <li><a href="#rails">Rails</a></li>
        <li><a href="#dotnet">DotNet</a></li>
        <li><a href="#postgresql">PostgreSQL</a></li>
        <li><a href="#pricing">Pricing</a></li>
      </ul>

      <div id="java" class="tech">
        <img src="/images/tech_logos/java-64x128.png" alt="Java"/>
        <h2>Java Standard and Enterprise</h2>
        <ul>
          <li>Tremendous reach to Windows, Mac and Linux desktops with easy deployment.</li>
          <li>Efficient for assembly of line-of-business form and data driven applications.</li>
          <li>Powerful and compatible server-side processing abilities.</li>
        </ul>

        <h3>Sample Work</h3>
        <p>It's hard for us to come up with a lot of these, most of our projects are internal or private applications that the public can't see. Here's a couple, though:</p>
        <ul>
          <li><a rel="external" href="http://groceries.demo.threewisemen.ca">Online grocery shopping (JBoss AS, Seam, Hibernate)</a></li>
          <li><a rel="external" href="http://easybrandingtools.com">One-stop brand creation for startups (Multi-tenant content transformation and publishing engine, JBoss AS, JCR)</a></li>
        </ul>
        <div style="clear: both"></div>
      </div>

      <div id="rails" class="tech">
        <img src="/images/tech_logos/rails-100x128.png" alt="Rails"/>
        <h2>Ruby On Rails</h2>
        <ul>
          <li>The most powerful and agile development framework gets your web initiatives online faster.</li>
        </ul>
        <h3>Sample Work</h3>
        <p>It's hard for us to come up with a lot of these, most of our projects are internal or private applications that the public can't see. Here's a couple, though:</p>
        <ul>
          <li><a rel="external" href="http://easybrandingtools.com">One-stop brand creation for startups (Rails front-end, External APIs from Elavon Canada, OpenSRS)</a></li>
        </ul>
        <div style="clear: both"></div>
      </div>

      <div id="dotnet" class="tech">
        <img src="/images/tech_logos/dotnet-117x111.png" alt=".NET"/>
        <h2>Microsoft .NET</h2>
        <ul>
          <li>Leverage powerful desktop 3D and media capabilities on Windows desktops.</li>
          <li>Efficient for assemby of line-of-business form and data driven applications.</li>
        </ul>
        <h3>Sample Work</h3>
        <ul>
          <li>User-interface for identity management web-services</li>
          <li>Resume collection and management tool for HR</li>
          <li>ERP application for the Natural Resources industry</li>
        </ul>
        <div style="clear: both"></div>
      </div>

      <div id="postgresql" class="tech">
        <img src="/images/tech_logos/postgresql-95x51.png" alt="PostgreSQL"/>
        <h2>PostgreSQL</h2>
        <ul>
          <li>The most powerful open-source database engine.</li>
          <li>Get your applications online with advanced functionality while reducing infrastructure costs.</li>
        </ul>
        <h3>Sample Work</h3>
        <ul>
          <li>Performance optimized data collection and logging with reporting and rollups</li>
          <li>Balanced schema creation to meet a specific goal (size, transactional performance, data-mining performance)</li>
        </ul>
        <div style="clear: both"></div>
      </div>

      <div id="pricing" class="tech">
        <h2>Pricing</h2>
        <p>
          Our development teams work in <em>sprints</em>, which wraps up planning, development,
          testing, and packaging in a short one or two week interval. This provides predictable
          costs, regular releases, and regular incremental improvement of your application.
        </p>
        <h3>Software Development Plan - $2,000</h3>
        <p>
          Capture and document the overall reasoning behind why you are building your application. It
          helps keep you and the team focused on your business goals rather than getting lost in
          the technology or implementation of the moment. This is highly recommended if your project
          is estimated to require more than 2-3 iterations.
        </p>
        <h3>Express Development Sprint - $5,000</h3>
        <p>
          A single resource allocated for a one-week period. More than one developer may be involved
          on different days, depending on specific technical requirements at certain times. Excellent
          for small to mid-size projects budgeting $5K or more.
        </p>
        <h3>Enterprise Development Sprint - $30,000</h3>
        <p>
          Three resources allocated for a two-week period. Excellent for larger scale projects
          budgeting $100K or more.
        </p>
      </div>

    </div>

    <script type="text/javascript">
      $("#technologies").tabs({
        fx: { opacity: 'toggle', duration: 'fast' },
        cookie: { expires: 1, name: "twm_tab_dev" }
      });
    </script>

</div>
