<div class="contentpanel">
    <h1>Application Development</h1>
    <p>
        I read an article (well, it’s more of a slideshow) this morning that just set my hair on
        fire. Now I understand that to many folks in I.T., outsourcing is analogous to offshoring.
        So I can understand at some level why an article lie this would be published. Now I
        understand that to many folks in I.T., outsourcing is analogous to offshoring. So I can
        understand at some level why an article lie this would be published. I read an article
        to many folks in I.T., outsourcing is analogous to offshoring. So I can understand at some
        level why an article lie this would be published.
    </p>
</div>
