<div class="contentpanel">
    <h1>Sleep Easy</h1>
    <p>
      100% guaranteed uptime, tier 1 performance, advanced media distribution, and cloud computing.
    </p>
    <p>
      We take care to ensure your application is highly performant, and responsive to your visitors -
      whether there are dozens or millions.
    </p>
    <p>
      Prices range depending on your needs. Please contact us for a no-obligation quote!
    </p>
</div>
