<% content_for :submenu do %>
	<li><a href="#">Shared 1</a></li>
	<li><a href="#">Shared 2</a></li>
	<li><a href="#">Shared 3</a></li>
	<li><a href="#">Dedicated Single</a></li>
	<li><a href="#">Dedicated Dual</a></li>
	<li><a href="#">Custom</a></li>
<% end %>
<div class="contentpanel">
    <h1>Application Hosting Plans</h1>
    <p>
      When you need your <em>application</em> online and not just the server it sits on.
    </p>
    <p>
      All of our plans include:
    </p>
    <ul>
      <li>100% uptime guarantee for approved applications (less scheduled downtime)</li>
      <li>Application monitoring and automated notifications</li>
      <li>Response time guarantee</li>
    </ul>

    <h2>Shared Application Hosting 1</h2>
    <p>Designed for applications where cost is a concern, and that service less than 10,000 user sessions per month.</p>

    <h2>Shared Application Hosting 2</h2>
    <p>Designed for applications that require more CPU horsepower to do their job, and that service less than 100,000 user sessions per month.</p>

    <h2>Shared Application Hosting 3</h2>
    <p>Designed for business critical applications that require some CPU horsepower and high availability and service less than 300,000 user sessions per month.</p>

    <h2>Dedicated Application Hosting 1</h2>
    <p>Designed for business sensitive applications that cannot be co-located with other applications on the same hardware due to strict privacy concerns, that require a specific server configuration, or require isolation for a private network connection to a corporate network.</p>

    <h2>Dedicated Application Hosting 2</h2>
    <p>Designed for business critical and business sensitive applications that cannot be co-located with other applications and where the up-time of the application is critical. Two dedicated servers provide hot-failover and high performance.</p>

    <h2>Custom Application Hosting</h2>
    <p>For complex customer requirements, a custom crafted environment can be designed by our experts to meet just about any demands. Multiple physical data-centers with geo-sensitive load balancing, segmented network traffic, custom router, firewall and inter-network linkage requirements. We will work with you to find the optimal configuration for your budget and requirements.</p>

    <h2>Additonal Services</h2>
    <ul>
      <li>Performance audit and analysis</li>
      <li>Security audit and analysis</li>
      <li>CDN (Content Delivery Network) integration</li>
      <li>Media (streaming video and audio) services integration</li>
    </ul>

</div>
