<div class="mainpanel">
    <h1>Reducing Software Costs using Open Source Components</h1>
    <p>
        I read an article (well, it’s more of a slideshow) this morning that just set my hair on
        fire. Now I understand that to many folks in I.T., outsourcing is analogous to offshoring.
        So I can understand at some level why an article lie this would be published. Now I
        level why an article lie this would be published.
    </p>
    <p><a class="linkmarker" href="content.html">read more...</a></p>
</div>
<div class="service1">
    <img src="/images/development.png" />
    <h2>Application Development</h2>
    <p>
        Unparalleled technical skill and the world's best open-source foundations at your disposal.
    </p>
    <p class="more"><a class="linkmarker" href="content.html">read more...</a></p>
</div>
<div class="service2">
    <img src="/images/consulting.png" />
    <h2>Consulting</h2>
    <p>
        A critical eye, creative and practical
        solutions for your tough problems.
    </p>
    <p class="more"><a class="linkmarker" href="content.html">read more...</a></p>
</div>
<div class="service3">
    <img src="/images/apphosting.png" />
    <h2>Application Hosting</h2>
    <p>
        Unparalleled 100% uptime guarantee for qualified applications.
    </p>
    <p class="more"><a class="linkmarker" href="content.html">read more...</a></p>
</div>
<div class="bottom"></div>
