- content_for :title do
  Three Wise Men Inc. Software Development Services
- content_for :description do
  Software development services utilizing the most prominent technologies such as Java, Ruby On Rails, Microsoft .NET
- content_for :keywords do
  java, java software development, hibernate, ejb3, seam, jboss, glassfish, apache, fop, batik, jackrabbit, lucene, rails, ruby, ruby on rails, ruby consulting, rails software development, ruby software development, dotnet, .net, oracle, microsoft sql server, oracle, postgresql, mysql, oshawa, whitby, durham, toronto, ontario, canada
%h1
  %img{:alt => "Development Logo", :src => "/images/apphosting-trans.png"}/
  Managed Project Infrastructure


