<div class="contentpanel">
    <h1>Success Stories</h1>
    <h2>Lakeridge Health Website Receives Dramatic Gains After Performance Audit</h2>
    <p>
      THE CHALLENGE: The customer had brought their new website online. It was functional, tested and
      approved. However, when placed into production under a full traffic load, performance was unacceptable.
      As a quick-fix, caching was employed creating acceptable load times. This however delayed how quickly the
      customer could deploy new content (1 to 4 hours). There also remained the fact that...
    </p>

    <h2>Startup Company Gains New Business Model, Extreme Performance</h2>
    <p>
      THE CHALLENGE: NavDriver is a technology that dynamically builds supplemental navigation for websites
      to help guide visitors to relevant popular information. With years of academic research behind it, a
      company was launched in 2007 to commercialize the technology and a student developer implemented the first
      commercial version of the software from the academic reference implementation. In...
    </p>

    <h2>Canada’s Largest Communications and Media Company Improves Customer Service and Reduces Call-Centre Activity</h2>
    <p>
      THE CHALLENGE: This client found an opportunity to improve customer service and increase revenue
      opportunities by pro-actively engaging customers to ensure their in-home equipment was optimally configured
      for television-on-demand services. They believed that if, in addition to call center activities, their
      customers were offered a method to turn on the service themselves, and at their...
    </p>

    <h2>Telecommunications - Canada's Largest Communications and Media Company</h2>
    <p>
      THE CHALLENGE: The upgrade of one of Canada's largest cable and Internet service providers' high-speed
      Internet infrastructure was being delayed by older equipment in subscribers homes. The company decided to
      provide free upgrades to expedite the pending infrastructure changes but also needed a solution that would
      minimize the impact to staffing and other resources at the call center, customer...
    </p>

    <h2>EasyBrandingTools.com - Technology that Brings Out Business Potential</h2>
    <p>
      THE CHALLENGE: Few entrepreneurs start a business because they enjoy the tedium of creating business cards, web sites and letterhead for themselves. Many are not skilled in graphic design or technology and quickly get bogged down in the time consuming process of creating an identity. Providing a consistent professional image as the business matures is critical for small businesses to... [more...]
    </p>
</div>
