    <div id="copyright">
        Design and content copyright © 2009 Three Wise Men Inc., All Rights Reserved. Read our
        <%= link_to "Privacy Policy", { :controller => "home", :action => "privacy" } %>.<br />
        Java and all Java-based marks are trademarks or registered trademarks of Sun Microsystems Inc.
        in the United States and other countries.
    </div>
