%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
  %meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}/
  %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}/
  %meta{:content => yield(:description), :name => "description"}/
  %meta{:content => yield(:keywords), :name => "keywords"}/
  %meta{:content => "F5KXrjn0UA9XkXh2JjzvbhuYT5KGcPS09LZDs0vY8bc=", :name => "verify-v1"}/
  %title= yield :title
  %link{:href => "/favicon.png", :rel => "shortcut icon"}/
  = stylesheet_link_tag 'all.min'
  = javascript_include_tag 'all.min'
  /[if lt IE 7]
    <script src="/javascripts/IE7.js" type="text/javascript"></script>
